 @model Kitap
 @{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">@Model.KitapAd</div>
    <div class="col">Ready Player One</div>
    
</div>


<div class="row">
    <div class="col">@Model.KitapTuru</div>
    <div class="col">Bilim Kurgu</div>
    
</div>

<div class="row">
    <div class="col">@Model.SayfaSayisi</div>
    <div class="col">999</div>
    
</div>

<div class="row">
    <div class="col">@Model.Fiyat/div>
    <div class="col">1 TL</div>
    
</div>

<div class="row">
    <div class="col">@Model.YazarAd/div>
    <div class="col">Yusufcan Ataş/div>
    
</div>

<div class="row">
    <div class="col">@Model.YayinlanmaTarihi/div>
    <div class="col">1794/div>
    
</div>

